/*HEADER*/
.header-top{
    background-color: black;
}

.header-bottom{
    background-color: white;
}

.img-logosony{
    max-width: 100px;
    height: auto;
}

.img-lens{
    width: 50%;
    height: auto;
}

/*MAIN*/
/*Spotlight*/

#spotlight-returnal{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    
}

.img-returnalhero{
    width: 50%;
    height: auto;
}

.btn-orange{
    background-color: #CD3D0F;
}

/*Second Spootlight*/
#spotlight-takes{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

/*Section nuove-uscite*/
#new-games{
    background-color: #1F1F1F;
    
}

/*PS4*/
#play4{
    background-color: white;
}

/*PS PLUS*/
#spotlight-plus{
    background-color: #BEBCBB;
}