/*HEADER*/
.header-top{
    background-color: black;
}

.header-bottom{
    background-color: white;
}

.img-logosony{
    max-width: 100px;
    height: auto;
}

.img-lens{
    width: 50%;
    height: 50%;
}

/*MAIN*/
/*Spotlight*/

#spotlight{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    
}